<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body class="bg-dark">
    <div>
        <div class="container col-2 pt-5 text-center">
            <h2 style="color: aliceblue;">Welcome <span sec:authentication="name"></span> ☼</h2>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Log Out" class="btn btn-danger" />
            </form>
        </div>
        <table class="table table-striped table-sm w-50 mx-auto caption-top">
            <caption>
                <h1 style="color: aliceblue;">Books</h1>
                <input type="submit" value="Add Book" onClick="location.href='/addbook'"
                    class="btn btn-secondary btn-sm" />
                <input type="submit" value="Categories" onClick="location.href='/categorylist'"
                    class="btn btn-secondary btn-sm" />
            </caption>
            <thead>
                <tr>
                    <th class="text-center">Title</th>
                    <th class="text-center">Author</th>
                    <th class="text-center">ISBN</th>
                    <th class="text-center">Year</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Price (€)</th>
                    <th sec:authorize="hasAuthority('ADMIN')"></th>
                    <th sec:authorize="hasAuthority('USER')"></th>
                    <th sec:authorize="hasAuthority('ADMIN')"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider text-center">
                <tr th:each=" book : ${books}">
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.isbn}"></td>
                    <td th:text="${book.publicationYear}"></td>
                    <td th:text="${book.category != null} ? ${book.category.name}: ''"></td>
                    <td th:text="${book.price}"></td>
                    <td>
                        <a th:href="@{/editbook/{id}(id=${book.id})}" class="btn btn-secondary btn-sm">Edit</a>
                    </td>
                    <td sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/deletebook/{id}(id=${book.id})}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                </tdoby>
        </table>
    </div>
</body>

</html>